.header-service-title,.header-service-elem {
  display: flex;
}
.space {
  height: 150px;
}
header {
  position: fixed;
  width: 100%;
  z-index: 2;
}
.socials-header {
  margin-left: 60px;
}
/* DARK MODE SWITCH */
.header-top,.dark-mode-switch, header-contacts,.phone-mail, .phone-container, .mail-container, .header-bottom,
.socials,.social-icon,.nav, .nav-elem {
  display: flex;
}
.header-top, .header-bottom {
  padding: 0 50px;
  align-items: center;
  justify-content: space-between;
}
.header-top {
  height: 50px;
  background: var(--black);
}
.header-bottom {
  height: 100px;
  background: var(--white);
}
.header-bottom {
  background: var(--white);
}
.switch {
  position: relative;
  display: inline-block;
  width: 28px;
  height: 15px;
  border:3px solid #fff;
  border-radius: 50px
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 9px;
  width: 9px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider:before {
  -webkit-transform: translateX(14px);
  -ms-transform: translateX(14px);
  transform: translateX(12px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.dark-mode-switch > div:first-child {
  margin-right: 10px;
  color: #FFF;

  font-family: Gotham;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.038px;
}
.dark-mode-switch {
  align-items: center;
}
.phone-container,.mail-container {
    cursor: pointer;
}
.phone-container {
  margin-right: 30px;
}
.phone-mail {
  margin-right:  60px;
  align-items: center;
}
.phone {
  font-family: Open Sans;
  line-height: 18px;
}
.mail {
  font-family: Gotham;
  line-height: normal;
}
.phone,.mail {
  color: var(--white);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.06px;
}
.phone-icon, .mail-icon {
  margin-right: 10px;
}
.socials-header {
    margin-left: 60px;
}
.social-icon {
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 20px;
  color: #fff;
  margin-right: 10px;
  border: 1px solid #fff;
  border-radius: 20px;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 0.5s ease;
}
.social-icon:hover {
    background: var(--secondary);
    border: none;
}
    /* HEADER BOTTOM */
.nav {
  align-items: center;
  justify-content: space-between;
}

.nav-elem {
  height: 40px;
  align-items: center;
  margin-right: 10px;
  font-family: Gotham;
  font-size: 17px;
  font-style: normal;
  font-weight: 350;
  line-height: normal;
  letter-spacing: 0.17px;
  text-transform: capitalize;
  cursor: pointer;
  color: var(--black);
}
.services > svg {
  transition: transform 0.3s ease;
}
.services-header {
  display: none;
  position: absolute;
  width: 100%;
  left: 0px;
  top: 120px;
  justify-content: space-between;
  background: var(--black);
}
.header-bottom-menu {
  display: none;
}
.header-service-elem {
  height: 35  0px;
  align-items: center;
  flex-direction: column;
  padding: 10px 20px;
}
.header-service-nav-elem {
  margin-bottom: 16px;
}
.header-service-line1 {
  height: 3px;
  width: 90%;
  background: var(--gray);
}
.header-service-title,.header-service-line1 {
  margin-bottom: 10px;
}
.header-service-nav-elem {
  /* height: 250px; */
  text-align: center;
}
.header-service-title > h6 {
  margin-right: 10px;
}
.header-service-line2 {
  width: 2px;
  background: #fff;
}
.header-service-title > h6,.header-service-nav-elem {
  color: #fff;
}
.header-bottom-menu-icon {
  display: none;
}