@media only screen and (max-width: 970px) {
  .accordion > p {
    width: 200px !important;
  }
} 
@media only screen and (max-width: 850px) {
  footer {
    flex-direction: column;
    text-align: center;
  }
  .info .socials {
    justify-content: center;
  }
  .footer-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-copyright {
    display: none;
  }
  footer .info,.footer-block {
    margin-bottom: 30px;
  }
  .footer-copyright-mob {
    display: flex !important;
    margin-bottom: 20px;
  }
  .footer-info-container .socials {
    justify-content: center;
  }
  .accordions-letter {
    flex-direction: column;
  }
  .letter {
    width: 100% !important;
  }
  .accordion > p {
    width: 100% !important;
  }
  .accordions-container {
    margin-bottom: 50px;
  }
}