.video-info {
  display: flex;
  margin-bottom: 50px;
}
.video-container {
}
.video-container > video {
  width: 100%;
}
.info {
  padding: 50px;
}
.info > * {
  margin-bottom: 20px;
}
.info-txt1 {
  color: var(--secondary);
}
.info-txt2 {
  color: var(--black);
}
.info-txt3 {
  color: var(--blue-gray-text);
}
.info-txt3 > p:first-child {
  margin-bottom: 30px;
}
.info-txt3 > p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.32px;
}
.part-head > .txt1 {
  color: var(--blue-gray-text);
}