.video-info {
  display: flex;
}
.video-container {
}
.video-container > video {
  width: 100%;
}
.info {
  padding: 50px;
}
.info > * {
  margin-bottom: 20px;
}
.info-txt1 {
  color: var(--secondary);
}
.info-txt2 {
  color: var(--black);
}