.services-container,.service-card,.portfolio-categories,
.see-all-portfolio,.slider-companies,
.center-ava-container,.bottom-quote,
.employe-slider-bottom,.employe-slider-left,.employe-slider-right,.dots,
.process-cards,.dot-line,.talk-container,.adress-contacts,.social-icon-wrapper,.socials-wrapper,.info-letter,
.header-slider-content,.pagination,.header-slider-buttons,.swiper-slide{
    display: flex;
}
.services-cards,.companies {
    display: grid;
}
.header-slider {
    width: 100%;
}
.swiper-slide {
  flex-direction: column;
}
.header-slider-elem {
    position: relative;
}
.header-slider-buttons-mob {
  display: none !important;
}
.slider-gray-bg {
  height: 500px;
  width: 100%;
  background: var(--gray);
}
.shadow > img {
    width: 100%;
    filter: brightness(50%);
}
.pagination {
    position: absolute;
    top: 500px !important;
    left: 50px !important;
    z-index: 1;
}
.shadow {
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
}
.shadow::before {
    background-color: rgba(0, 0, 0, 0.5);
}
.swiper-container {
    margin-bottom: 70px;
}
.swiper-pagination-bullet {
    height: 3px !important;
    width: 35px !important;
    margin-right: 15px !important;
    background: var(--gray) !important;
}
.slider-top-portfolio {
    color: var(--static-white) !important;
}
.swiper-pagination-bullet-active {
    background: #fff !important;
}
.swiper-slide {
    text-align: unset !important;
}
.header-slider-content {
    width: 500px;
    justify-content: space-between;
    flex-direction: column;
    position: absolute;
    padding-left: 50px;
    top: 20%;
}
.header-slider-buttons > div:first-child {
    margin-right: 15px;
}
.header-slider-content > * {
    margin-bottom: 40px;
}
.header-slider-main-text,.header-slider-secondary-text {
    color: var(--static-white);
}
.services-container {
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 50px;
}
.services-container, .choose-us-container,.process-container {
    padding: 0 50px;
}
.part-head {
    margin-bottom: 60px;
}
.section-phrase {
  color: var(--blue-gray-text);
}
/* SERVICES */
.services-text-btn > div:first-child {
    margin-bottom: 40px;
}
.services-cards {
    width: 100%;
}
.services-cards,.companies {
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.companies {
    height: 240px;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(105px, 1fr));
}
.service-card {
    height: 320px;
    width: 240px;
    flex-direction: column;
    align-items: center;
    padding: 0 30px;
    background: var(--bg-2);
    margin-bottom: 30px;
    transition: box-shadow 0.3s ease;
}
.service-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 0 4px rgba(0, 0, 0, 0.1); /* Задайте желаемые значения для тени (горизонтальное смещение, вертикальное смещение, размытие и цвет) */
}
.service-icon {
    padding-top: 30px;
    margin-bottom: 40px;
}
.service-title {
    margin-bottom: 50px;
}
.service-desc {
    text-align: center;
}
/* PORTFOLIO */
.portfolio-container {
    background: var(--bg-2);
    margin-bottom: 50px;
    padding: 60px 50px;
}
.see-all-portfolio {
    justify-content: center;
}
/* CHOOSE US */
.choose-us-container {
    margin-bottom: 60px;
}
.employe-slider {
    margin-right: 20px;
}
.employe-slider-bottom {
    justify-content: space-between;
    padding: 0 30px;
}
.employe-slider-bottom > div:not(:last-child) {
    margin-right: 20px;
}
.employe-slider-left > div:not(:last-child) {
    margin-right: 20px;
}
.employe-slider-right > .employe-ava:first-child {
    margin-right: 20px;
}
.quote-container {
    background: var(--blue-gray);
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 50px;
    position: relative;
}
.center-ava-container {
    height: 75px;
    width: 75px;
    right: 42%;
    bottom: -30px;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: var(--blue-gray);
    border-radius: 50%;
}
.company-logo {
    margin-right: 10px;
}
.bottom-quote {
    justify-content: end;
}
.quote-txt {
    color: #fff;
    text-align: center;
}
.employe-name-position {
    text-align: center;
    margin-bottom: 30px;
}
.employe-name {
    margin-bottom: 10px;
}
.dot {
    height: 15px;
    width: 15px;
    margin-right: 10px;
    border-radius: 50%;
    background: var(--de);
}
/* WORK PROCESS */
.process-container > h4 {
    margin-bottom: 60px;
}
.process-cards {
    position: relative;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
}
.process-card {
    width: 250px;
}
.process-card > * {
    margin-bottom: 15px;
}
.process-title {
    color: var(--pure-black);
}
.dot-line {
    position: relative;
    justify-content: space-around;
    margin-bottom: 50px;
}
.dot-line::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px; 
    border-bottom: 1px dashed var(--pure-black); 
    transform: translateY(-50%); 
}
/* TALK */
.talk-container {
    justify-content: center;
    flex-direction: column;
    background: var(--blue-gray);
    padding: 60px 90px;
    margin-bottom: 60px;
}
.talk-container > * {
    margin-bottom: 10px;
}
.talk-phrase,.talk-desc {
    color: #fff;
}
.talk-btn > a {
 
}
/* TEAM */
/* CONTACT US */
